[server]
domain = domain-name.extension

[port]
smtp = 123
imap = 321

[domain_extension]
login = /iserv/auth/login
logout = /iserv/auth/logout
settings = /iserv/profile/settings

exercise = /iserv/exercise
mail = /iserv/mail

files = /iserv/file/-/Files
texts = /iserv/etherpad

news = /iserv/news

exercise_csv = /iserv/exercise.csv
videoconference_load = /iserv/videoconference/api/health
