[keywords]
biology = bio/biologie
chemistry = chemie
physics = physik
math = mathe/mathematik
computer science = informatik

history = geschichte
politics = politik

german = deutsch
english = englisch/english
french = französisch/franzoesisch/français/francais
spanish = spanisch/español/espanol
latin = latein/latinus

philosophy = philosophie/ethik
religion = religion

art = kunst
music = musik

sports = sport
