<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Test</title>
    </head>
    <body>
        <br/>
        <span>
            Lorem ipsum dolor sit amet
        </span>
        <br/>

        <span>
            <em>Lorem ipsum dolor sit amet</em>
        </span>
        <br/>

        <span>
            <strong>Lorem ipsum dolor sit amet</strong>
        </span>
        <br/>

        <span style="color: red;">
            Lorem ipsum dolor sit amet
        </span>
        <br/>

        <span style="background-color: red;">
            Lorem ipsum dolor sit amet
        </span>
        <br/>

        <span style="text-decoration: underline;">
            Lorem ipsum dolor sit amet
        </span>
        <br/>

        <span style="text-decoration: line-through;">
            Lorem ipsum dolor sit amet
        </span>
        <br/>
        <br/>

        <span style="text-decoration: overline;">
            Lorem ipsum dolor sit amet
        </span>
        <br/>
        <br/>

        <span style="font-family: 'calibri', sans-serif;">
            Lorem ipsum dolor sit amet
        </span>
        <br/>
        <br/>

        <ul>
            <li>Lorem</li>
            <li>ipsum</li>
            <li>dolor</li>
            <li>sit</li>
            <li>amet</li>
        </ul>

        <ol>
            <li>Lorem</li>
            <li>ipsum</li>
            <li>dolor</li>
            <li>sit</li>
            <li>amet</li>
        </ol>
        <br/>
    </body>
</html>
