Europe/Berlin | dd-mm-yyyy_-_hh-mm-ss | user.name | subject | plaintext/plaintext-template-name.txt | once | C:/absolute/path/to/an/attachment.filetype | ./relative/path/to/an/attachment.filetype | ...
Europe/Berlin | dd-mm-yyyy_-_hh-mm-ss | user.name | subject | html/html-template-name.html | repeat ww-dd-hh-mm-ss | C:/absolute/path/to/an/attachment.filetype | ./relative/path/to/an/attachment.filetype | ...
